.gamepin__main {
    position: relative;

    &:hover {
        .gamepin__img {
            box-shadow: 2px 2px 5px $color_primary;
            transform: scale(1.02);
        }

        .gamepin__title {
            transform: scale(1.02);
        }
    }
}

.gamepin__img {
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s all;
    position: relative;
}

.gamepin__title {
    position: absolute;
    font-size: 1.6vw;
    color: $white;
    bottom: 20px;
    left: 10%;
    text-shadow: 2px 2px $black;
    transition: 0.2s all;
    cursor: pointer;
}
