.searchbar__main {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;

    form {
        label {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .searchbar__icon {
        margin-right: 5px;
        font-size: 1.6em;
        color: darken($color: $color_secondary, $amount: 50);
        cursor: pointer;
    }

    .searchbar__input {
        width: 80%;
        padding: 10px 15px;
        color: darken($color: $color_secondary, $amount: 40);
        height: 1.9em;
        border-radius: 2em;
        border: 1px solid $color_secondary;
        font-size: 2em;
        outline: none;

        &::placeholder {
            color: $color_secondary;
            font-size: 0.8em;
        }
    }
}
