.searchbar__main {
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;

    form {
        width: 50%;
        label {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .searchbar__icon {
        margin-right: 5px;
        font-size: 1.4em;
        color: darken($color: $color_secondary, $amount: 50);
        cursor: pointer;
    }

    .searchbar__input {
        width: 100%;
        padding: 10px 15px;
        color: darken($color: $color_secondary, $amount: 40);
        height: 2.3em;
        border-radius: 2em;
        border: 1px solid $color_secondary;
        font-size: 1.2em;
        outline: none;

        &::placeholder {
            color: $color_secondary;
            font-size: 1.1em;
        }
    }
}
